himbeerserver.de {
	reverse_proxy /_matrix/* synapse:8008
	reverse_proxy www:80
}

www.himbeerserver.de {
	redir {scheme}://himbeerserver.de{uri} permanent
}

git.himbeerserver.de {
	reverse_proxy gitweb:80
}
